DB_NAME=banryeo_kkurumi
DB_URL=jdbc:mysql://localhost:3306/banryeo_kkurumi?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
DB_USERNAME=replace_me
DB_PASSWORD=replace_me
DB_ROOT_PASSWORD=replace_me
REDIS_HOST=localhost
REDIS_PORT=6379
PII_ENCRYPTION_KEY=replace_with_base64_encoded_32_byte_key
ADMIN_LOGIN_ID=
ADMIN_PASSWORD=
